/* OVERALL STYLING */

body{
  font-family: 'Passion One', cursive;
  padding: 0;
  font-size: 1rem;
  background-image: url(../img/nice_snow.png); 
}




/* HEADER*/

header{
  background-image: none;
  overflow: hidden;
}

header .col svg{
  fill: #212121;
  width: 15%;
  padding: 10px 1.5rem;
  display: inline-block;
}

header .col{
  float: left;
  width: 50%;
  display: inline-block;
}

nav ul{
  text-align: right;
  padding: 0 2rem;
  margin: 18px 0 0;
  list-style-type: none;
}


nav a i {
  color: white;
  margin: 0 2px 0 0;
  font-size: 20px;
}

nav a .fa{
    font-size: 1.5rem;
    color: #212121;
  }

@media screen and (min-width: 47.5em){

  header .col svg{
    display: inline-block;
    float: left;
    width: 7%; 
    margin: 1rem 5rem;
  }

  nav ul{
    text-align: right;
    margin: 1rem 4rem;
    padding: 1rem;
  }

  nav a .fa{
    font-size: 2rem;
  }
}

@media screen and (min-width: 67.5em){
  header .col svg{
    width: 5%; 
  }

  nav a .fa{
    font-size: 2rem;
    background-color: transparent;
  }
}




/* FOOTER*/

footer{
  padding: .5rem 1rem;
  text-align: center;
  background-color: transparent;
}
.copywrite{
  color: #767676;
  font-size: .9rem;
  font-family: 'Rubik', sans-serif;
}

.copywrite p{
  position: absolute;
  bottom: 0;
  left: 0;
}


/* TABLE OF CONTENTS */

.toc_content{
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 9999;
  left: 0;
  top: 0;
  transition: 0.5s;
}
 
ol{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol p{
  font-weight: 400;
}

ol li{
  counter-increment: step-counter;
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  width: 75%;
  margin: 5% auto;
}

ol li:before{
  content: counter(step-counter);
  font-size: 7rem;
  position: absolute;
  bottom: 0;
  right: 5%;
  color: #c92038;
  font-family: 'Passion One', cursive;
}

ol .second-page::before{
    color: #34439b;
}

ol .third-page::before{
    color:#edd84e;
}

a{
  text-decoration: none;
  color: #212121;
}

.toc_content img{
  width: 100%;
  border-radius: 5px;
}

.toc_content h2{
  font-size: 2rem;
  margin: 0 0 .25rem 0;
  line-height: 1.7rem;
  font-weight: 700;
  font-family: 'Passion One', cursive;
}

.toc_content .first-page h2{
  color: #c92038;
}

.toc_content .second-page h2{
  color: #34439b;
}

.toc_content .third-page h2{
  color: #edd84e;
}

.toc_content p{
  margin: 0;
  font-size: 1.2rem;
  color: #646464;
  line-height: 1rem;
  font-family: 'Passion One', cursive; 
}

@media screen and (min-width: 47.5rem){
  .toc_content li{
    filter: grayscale(100%);
  }

  .toc_content li:hover{
    filter: none;
    transition: all .3s;
  }

  .toc_content li{
    float: left;
    width: 24%;
  }

  .toc_content h2{
    font-size: 1.7rem;
    line-height: 2.2rem;
    margin: 0 0 .5rem 0; 
  }

  .toc_content p{
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  ol li::before{
    content: counter(step-counter);
    font-size: 7rem;
    bottom: 2%;
    right: 6%;
    position: initial;
  }
}

@media screen and (min-width: 67.5rem){

  .toc_content li{
    filter: grayscale(100%);
    margin: 1%;
  }

  .toc_content li:hover{
    filter: none;
    transition: all .3s;
  }

  .toc_content li{
    float: left;
    width: 28%;
  }

  .toc_content h2{
    font-size: 3rem;
    line-height: 2.2rem;
    margin: 0 0 .5rem 0; 
  }

  .toc_content p{
    font-size: 1.7rem;
    line-height: 1.5rem;
  }

  ol li::before{
    content: counter(step-counter);
    font-size: 9rem;
    bottom: 2%;
    right: 6%;
    position: absolute;
  }
}





